// Database
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=

// Contract
ETHEREUM_RPC=
CONTRACT_ADDRESS=

//API
API_PORT=

// StateDB
STATEDB_DIR_PATH=./var/tokamak/statedb

//Syncronizer
LAST_PROCESSED_BLOCK=8976032
BATCH_TO_SYNC=100

NLEVELS=24
MAX_TX=1
MAX_L1_TX=5
CHAIN_ID=0

//Api Rate limit
REQ_PER_SEC=5