// Database
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=

// Contract
ETHEREUM_RPC=
CONTRACT_ADDRESS=

//API
API_PORT=

// StateDB
STATEDB_DIR_PATH=./var/tokamak/statedb

//Syncronizer
LAST_PROCESSED_BLOCK=8976032
BATCH_TO_SYNC=100